# WPILib
bin/
build/
dist/
sysProps.xml
workbench.xmi

# IDE
*.ipr
*.iml
*.iws
out/
tmp/
.settings/
.loadpath
.project
/.idea
.classpath

# Toast/GradleRIO
run/
.gradle/
gradle/.launch/

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.AppleDouble
.LSOverride
.Trashes
ehthumbs.db
Thumbs.db

*.csv
Coprocessor/Splines/spline_lib
Coprocessor/Kinect/kinect.dSYM
Coprocessor/Splines/spline_lib.dSYM
Coprocessor/Kinect/kinect_lib.dSYM
kinect_lib
*.jpg
