<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5333 - {{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/vendor/milligram.css" />
    <script type="text/javascript" src="/scripts/common.js"> </script>
</head>
<body>
    
    <main class="wrapper">
        {{ import t="include/header.html" }}
        
        <section class="container body">
            {{ include_body }}
        
            
            {{ import t="include/footer.html" }}
        </section>
    </main>
    
</body>
</html>